<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Bruins Hompage</h1>
        <ul>
            <% for(let i = 0; i < bruins.length; i++){ %>
                <li>
                 <a href="/bruins/<%=bruins[i].id%>"><%=bruins[i].name; %></a>
                  Goals:<%=bruins[i].goals; %>.
                  Assists <%=bruins[i].assists; %>

                  <!--  ADD DELETE FORM HERE-->
                  <form action="/bruins/<%=bruins[i].id%>?_method=DELETE" method="POST">
                    <input type="submit" value="delete">
                  </form>

                  <a href="/bruins/<%=bruins[i].id%>/edit">Edit <%=bruins[i].name%></a>
                </li>
            <% } %>
        </ul>
        <nav>
            <a href="/bruins/new">Add a player</a>
        </nav>
    </body>
</html>
